
/* styles.css */
.container{
    max-width: 80vw;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #090a0a;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #787b7b;
    text-align: center;
    padding: 15rem 0 5rem 0;
    background-image: url('../images/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f9fcfb;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #5f6c68;
    font-weight: bold;
}

main {
    padding: 20px;
    /* max-width: 800px; */
    /* margin: 0 auto; */
    background-color: #faf6f6;
    border: 1px solid #DADADA;
    border-radius: 5px;
}

h2 {
    color: #5d7471;
    text-align: left;
}

.main-image {
    /* width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin: 10px auto; */
    margin: 0 10px;
    float: left;
    max-width: 200px;
}

.main p {
    text-align: left;
}

.contact {
    background-color: #e4e9ea;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c8bfbf;
    margin-bottom: 10px;
}

button {
    background-color: #505655;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333837;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #acb5b5;
    font-size: 0.8em;
}